.header__container {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
}

.header__logo_name_red {
  color: #df1e1e;
  font-family: Araboto-Bold;
  font-size: 26px;
}

.header__logo_name {
  color: #d9d9d9;
  font-family: Araboto-Bold;
  font-size: 26px;
}

.header__nav {
  margin-left: 115px;
  display: flex;
  gap: 40px;
  list-style-type: none;
}

.header__nav__item {
  color: #d9d9d9;
  font-family: CorporateS-Regular;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0.8px;
}

.header__btn_notification,
.header__btn_message {
  width: 48px;
  height: 48px;
}

.header__btn_message {
  margin-left: 20px;
}

.active {
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff;
}
